*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', 'serif';
}
/* header menu ___________________________________________ */
header{
    background: rgb(42, 43, 42);
    color:white;
}
.hamburguesa{
    display: none;
}
.menu .logo{
    width:200px;
    height:90px;
    min-height: 70px;
    margin-left: 40px;
}
.menu{
    display: flex; 
    justify-content:space-between;  
    align-items: center;
    padding: 10px 0;
}
.decnone{
    text-decoration: none;
    color:white ;
}
.menu__nav ul{
    margin: 0 10px;
    list-style: none;
}
.menu__nav li{
    display: inline-block;
}
.menu__nav a{
    /* los enlaces se muestran como bloque para darles padding */
    display: block;
    padding: 2rem 2rem;
    font-size: 1rem;
    transition:all 0.4s linear; 
}
.menu__nav a:hover{
    background: #ccc;
    color:rgb(42, 43, 42);
}
/* cuerpo del sitio Home ___________________________________________ */
.presentacion h1{
    text-align: center;
    font-size:60px;
    margin:10px;
}
.tcentrado{
    text-align: center;
} 
.presentacion p:first-of-type, p:nth-of-type(2){
    margin:20px;
}
.imgcocina{
    width: 100%;
    max-height: 38rem;
    min-height: 20rem;
}
.imgpagos{
    display:block; 
    margin:auto;
    width: 90%;
    max-height: 140px;
    min-height: 100px;
}
.enviobeneficios{
    padding:60px;
    display: flex;
    justify-content:space-evenly;  
}
.enviobeneficios img{
    width: 49%; 
    height: 200px;
}
/* Footer ___________________________________________ */
.footer{
    background-color: rgb(42, 43, 42); 
    width:100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    color:white; 
    line-height:2rem;
    
}
.footer__datos{
    display: flex;
    justify-content: center;
}
.footer__datos h2{
    color:rgb(221, 115, 36);
    margin-bottom:40px;
}
.columna1, .columna2,.columna3{
    width: 33%;
    padding: 50px;
}
.fila{
    display: flex;
}
.fab, .fas{
    font-size: 2rem;
    color: rgb(196, 195, 193);
}
.fila p{
    margin-top:10px;
    margin-left:20px;
}
.footer__barra{
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    padding:10px;
}
.footer__barra a{
    padding: 0 20px;
}

/* OTRA PÁGINA productos ___________________________________________ */

.todosproductos h2{
    font-size: 40px;
    background-color: #2E294E;
    background-image: linear-gradient(120deg, #2E294E 0%, #324376 50%);
    /* background-color: #1c1c1c86; */
    color:white;
    padding: 30px;
    font-weight:500;
}
.categorias{
    width: 100%;
    min-height: 140px;
    padding:30px;
}
.button{
    border: none;
    padding: 20px;
    margin:20px;
}
.button--blue{
    background-color: #243053fd;
    color:white;
    transition: all 1s ease-in;
}
.button--blue:hover{
    width: 200px;
    padding: 25px;
    background:#2a2a2a;
    transition: all 1s ease-in;


}
.button--normal{
    width: 150px;
}
.button--large{
    max-width: 500px;
    min-width: 300px;
    font-size: 16px;
}
.button--green{
    color:white;
    background: #222831;
}
.button--green:hover{
    background: #30475e;
}
.button--click{
    border-radius: 50px;
}
.card{
    min-width:350px;
    border:1px solid rgba(0,0,0,0.15); 
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 6px 8px rgb(0 0 0 / 20%);
} */
.card__title{
    font-size: 25px;
    margin:40px 0px 30px 0px;
}
.productos{
    padding: 0px 80px 80px 80px;
    display: grid;
    grid-template-areas:    'producto1 producto2'
                            'producto3 producto4'
                            'producto5 producto5';
    grid-gap: 40px;
}
.producto1{
    grid-area: producto1;

}
.producto2{
    grid-area: producto2;
}
.producto3{
    grid-area: producto3;
}
.producto4{
    grid-area: producto4;
}
.producto5{
    grid-area: producto5;
}
.productos img{
    width: 90%;
    height: 400px;
    padding: 40px;
    border-bottom: 1px solid grey;
}

/* Sección MEDIA___________________________________________ */

@media screen and (max-width:850px){
    .menu .logo{
        height:70px;
        width: 150px;
    }
    .menu__nav a{
        padding: 1rem 1rem; 
        font-size: 0.7rem;
    }
    .footer__datos{
        flex-direction: column;
        padding: 20px;
    }
    .columna1, .columna2,.columna3{
        width: 100%;
        text-align: center;
        padding:20px;
    }
    .fila{
        justify-content: center;
    }
    .footer__barra{
        font-size: 0.53rem;
    }
    .enviobeneficios{
        padding:60px;
        /* display: flex; */
        flex-direction: column;
        padding:20px;
    }
    .enviobeneficios img{
        width: 100%; 
        padding:5px;
    }
    .footer__barra a{
        padding: 5px;
    }
    .productos{

        grid-template-areas:    'producto1' 
                                'producto2'
                                'producto3'
                                'producto4'
                                'producto5';
    }
}

@media screen and (max-width:575px){

    .hamburguesa{
        padding-right:40px;
        display: block;
    }
    .menu__central{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu__nav{
        background-color: rgba(51, 51, 51, 0.990);
        width: 100%;
        position: absolute;
        right:0;
        top:93px;
        display: none;
    }

    .menu__nav li{
        width: 100%;
    }
    
    .menu__nav.activado{
        display:block;
    }
}